<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CMS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/cms.css">
  </head>
  <body>
    <header>
      <h1><a href="/">CMS 2.0</a></h1>
    </header>
    
    <% if session[:success] %>
      <div class="flash success">
        <p><%= display_flash_messages(:success) %></p>
      </div>
    <% end %>

    <% if session[:error] %>
        <% display_flash_messages(:error) do |message| %>
          <div class="flash error">
            <p> <%= message %></p>
          </div>
        <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>