<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CMS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/cms.css">
  </head>
  <body>
    <% if session[:success] %>
      <div class="flash success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %>

    <% if session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>