html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  padding: 1rem;
}

.flash {
  background-color: #FFFF99;
  margin: 5px 0;
  padding: 5px 10px;
}

.flash p {
  margin: 5px 0;
}

.flash .success {
  background-color: green;
}

.flash .error {
  background-color: red;
}

form.inline {
  display: inline;
}

form div {
  margin: 7px 0;
}

label {
  display: flex;
  max-width: 300px;
  width: 100%;
}

.signin label {
  max-width: 250px;
}

label input {
  margin-left: auto;
}

.user-status {
  font-style: italic;
  font-size: 0.9rem;
}

a.icon:before, button.icon:before {
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 0 0 3px;
  vertical-align: -6px;
  content: "";
}

form:not(.inline) button {
  margin-top: 20px;
}

button.icon {
  background-color: transparent;
  background-size: contain;
  border: none;
  display: inline-block;
  padding: 0;
  color: #3f3f3f;
  cursor: pointer;
}

.edit:before {
  background: transparent url('../images/icon-edit.png') 0 0 no-repeat;
}

.copy:before {
  background: transparent url('../images/icon-copy.png') 0 0 no-repeat;
}

.delete:before {
  background: transparent url('../images/icon-delete.jpg') 0 0 no-repeat;
}

footer {
  position: fixed;
}